* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

#qr-componet-container {
  width: 335px;
  padding: 16px;
  background-color:hsl(0, 0%, 100%);
  border-radius: 16px;
  font-family: 'Baloo 2', cursive;
}

.qr-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.text {
  padding: 20px;
  text-align: center;
}

.title {
  color: hsl(218, 44%, 22%);
  line-height: 1.2em;
  margin-bottom: 12px;
  font-size: 24px;
}

.description {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  line-height: 1.2em;
}